@mixin fonts($font-name, $file-name, $weight, $variant, $path: '../fonts/'){
	font-family: $font-name;
	src: local('☺'), 
		 url($path + $file-name + '.woff') format('woff'), 
		 url($path + $file-name + '.woff2') format('woff2'), 
		 url($path + $file-name + '.ttf') format('truetype');
	font-weight: $weight;
	font-style: $variant;
}

@each $font-name, $file-name, $weight, $variant in 
	  ('PT Sans', 'pt_sans-regular', normal, normal),
	  ('PT Sans', 'pt_sans-bold', bold, normal) {
		  
		  @font-face {
			  @include fonts($font-name, $file-name, $weight, $variant);
		  }
		  
}