@mixin fonts($font-name, $file-name, $weight, $variant, $path: '../fonts/'){
	font-name: $font-name;
	src: url($path + $file-name + '.eot');
	src: local('☺'), 
		 url($path + $file-name + '.woff') format('woff'), 
		 url($path + $file-name + '.woff2') format('woff2'), 
		 url($path + $file-name + '.ttf') format('truetype'), 
		 url($path + $file-name + '.svg') format('svg');
	font-weight: $weight;
	font-style: $variant;
}

@each $font-name, $file-name, $weight, $variant in 
	  ('pt sans', 'pt_sans-regular', normal, normal),
	  ('pt sans', 'pt_sans-italic', normal, italic),
	  ('pt sans', 'pt_sans-bold', bold, normal),
	  ('pt sans', 'pt_sans-bolditalic', bold, italic) {
		  
		  @font-face {
			  @include fonts($font-name, $file-name, $weight, $variant);
		  }
		  
}