.footer-menu {
	font-size: $font-size-base;
	color: $footer-menu-color;
	
	@media (max-width: $screen-md){
		font-size: $font-size-base - 1;
	}
	
	.menu > &__item {
		margin: 0.5em 0 0.6em;
	}
	
	&__link {
		text-decoration: underline;
		
		@include hover {
			color: $footer-menu-hover-color;
		}
	}
}