.header-menu {
	$font-size: $font-size-base - 1;
	margin-top: 1em;
	margin-right: 190px; // тут телефон
	
	&__wrapper {
		padding-top: 2rem;
	}
	
	.nav &__link {
		padding: 5px 15px;
		font-size: $font-size;
		line-height: $font-size-base;
	}
	
	.dropdown-menu {
		width: 170px;
		font-size: $font-size;
		padding-bottom: 30px;
		
		&__item {
			margin-bottom: 1rem;
			padding: 0 20px;
		}
		&__link {
			display: inline;
			text-decoration: underline;
			padding: 0;
			white-space: initial;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
}