.menu {
	@include list-unstyled;
	margin-bottom: 0;
	
	li:last-child {
		margin-bottom: 0;
	}
	
	a {
		color: currentColor;
	}
}

@import 'header-menu';
@import 'sidebar-menu';
@import 'footer-menu';
@import 'mobile-menu';