.contacts {
	$border-color: $panel-custom-border;
	$bg: $panel-bg;
	
	&__panel {
		border-width: 2px;
		margin-bottom: 0.5rem;
		
		> .row {
			@include flex-default(stratch);
			> [class*="col"] {
				display: flex;
			}
		}
		
		.panel-body {
			width: 100%;
			padding-left: 0;
			padding-right: $grid-gutter-width;
		}
	}
	
	&__img {
		width: auto;
		height: 100%;
	}
	
	&__img-wrapper {
		position: relative;
		overflow: hidden;
		
		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			right: -29px;
			width: 40px;
			height: 55%;
			background: $bg;
			border-left: 2px solid $border-color;
			transform-origin: center;
			@media (min-width: $screen-md) {
				right: -15px;
			}
		}
		&::before {
			bottom: 50%;
			transform: rotate(-13deg);
		}
		&::after {
			top:50%;
			transform: rotate(13deg);
		}
	}
	
	&__panel-title {
		color: $brand-primary;
		margin-bottom: 1em;
		
		a:hover {
			text-decoration: none;
		}
		
		.icon {
			margin-left: 0.5em;
		}
	}
	
	&__address {
		margin-bottom: 1rem;
	}
	
	&__workhours {
		margin-bottom: 0;
		
		dt {
			width: 90px;
			text-align: left;
		}
		dd {
			margin-left: 100px;
		}
	}
}