.footer {
	color: $footer-color;
	margin-top: 2.5rem;
	@media (min-width: $screen-md){
		margin-top: 4rem;
	}
	
	&__top {
		background: $footer-top-bg;
		padding: 2.5rem 0 3rem;
	}
	
	.btn-default {
		color: $footer-color;
		border-color: $footer-color;
		@include hover {
			border-color: transparent;
			color: #fff;
		}
	}
	
	.btn-default.btn-sm {
		@media (min-width: $screen-sm) and (max-width: $screen-md){
			padding-left: 1em;
			padding-right: 1em;
		}
	}
	
	// footer top blocks
	
	@media (min-width: $screen-md){
		.flex-row {
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			align-items: stretch;
		}
	}
	
	&__col {
		
		@media (min-width: $screen-md){
			display: flex;
		}
		
		&-inner {
			width: 100%;
			padding: 25px 0 35px;
			border-bottom: 1px solid $footer-top-border;
			@media (min-width: $screen-sm){
				padding: 0;
				border-bottom: 0;
				border-right: 1px solid $footer-top-border;
			}
		}
		
		&:first-of-type &-inner {
			padding-top: 0;
			@media (min-width: $screen-sm){
				padding: 0;
			}
		}
		
		&:last-of-type &-inner {
			padding: 20px 0 0;
			border-bottom: 0;
			@media (min-width: $screen-sm){
				padding: 0;
				border-right: 0;
			}
		}
	}
	
	&-menus {
		.btn {
			margin-top: 2rem;
			
			@media (min-width: $screen-sm){
				margin-top: 1rem;
			}
			@media (min-width: $screen-md){
				margin-top: -2rem;
			}
		}
	}
	
	&-lk {
		&__title {
			margin-bottom: 0.9em;
			
			.icon {
				fill: $footer-top-bg;
				color: $footer-top-bg;
				margin-top: 2px;
				width: 100%;
				height: 100%;
			}
			.icon-wrapper {
				display: inline-block;
				vertical-align: middle;
				width: $font-size-small * 2;
				height: $font-size-small * 2;
				padding: $font-size-small/4 $font-size-small/4 0;
				border-radius: 50%;
				overflow: hidden;
				margin-right: 1rem;
				background: currentColor;
				
			}
			span {
				color: #fff;
			}
		}
		&__links {
			margin: 0.9em 0;
			padding-left: 1em;
			
			li {
				margin-bottom: 0.4em;
				&::before {
					left: -1em;
				}
			}
			
			a {
				color: currentColor;
				font-size: $font-size-small + 1;
				text-decoration: underline;
				
				@include hover {
					color: currentColor;
					font-size: $font-size-small + 1;
					text-decoration: underline;
				}
			}
		}
		.btn {
			margin-top: 0.5rem;
			
			@media (min-width: $screen-sm){
				margin-top: 0;
			}
		}
	}
	&-contacts {
		
		a:not(.btn) {
			color: currentColor;
			text-decoration: none;
			@include hover {
				color: currentColor;
				text-decoration: none;
			}
		}
		
		&__tel {
			font-size: $font-size-large - 1;
			line-height: $btn-sm-height;
			color: #fff;
			
			@media (min-width: $screen-xs) {
				font-size: $font-size-large + 1;
			}
		}
		.btn {
			@media (max-width: $screen-xs) {
				padding-left: 1em;
				padding-right: 1em;
			}
			@media (min-width: $screen-sm) {
				margin-top: 1em;
			}
		}
	}
	
	&__bottom {
		background: $footer-bottom-bg;
		padding: 1.7rem 0 2rem;
		
		@media (max-width: $screen-xs){
			padding: 1em 0 26px;
		}
		
	}
	// footer bottom blocks
	&__copy {
		font-size: $font-size-small + 1;
		display: inline-block;
		
		@media (max-width: $screen-xs){
			margin-bottom: 1em;
		}
	}
	&__sitemap {
		a {
			color: #fff;
			text-decoration: underline;
			
			@include hover {
				color: #fff;
			}
		}
	}
}