.header {
	
	&__top {
		background: $header-top-bg;
		padding: 2rem 0 1rem;
		
		@media (min-width: $screen-sm){
			padding-bottom: 1.5rem;
		}
		@media (min-width: $screen-md){
			padding: 0.7rem 0;
			
			.cols-wrapper {
				@include flex-default('center','flex-end');
			}
		}
		
		.row {
			position: relative;
		}
		
		&-logo {
			text-align: right;
			
			@media (min-width: $screen-sm){
				margin-top: 0.5em;
			}
			
			svg {
				width: 130px;
				height: 4rem;
				fill: #fff;
				
				@media (min-width: $screen-sm){
					width: 170px;
					height: 5rem;
				}
			}
		}
		.tel {
			font-weight: bold;
			color: $header-link-color;
			text-decoration: none;
			appearance: none;
		}
		&-logo .tel {
			margin-top: 1rem;
			margin-right: 1rem;
		}
		&-feedback .tel {
			margin-bottom: 1rem;
		}
		
		&-links {
			padding-top: 2rem;
			
			@media (min-width: $screen-sm){
				padding-top: 0;
				padding-left: 4rem;
				margin-bottom: 1rem;
			}
			
			@media (min-width: $screen-md){
				margin-bottom: 0;
			}
			
			@media (min-width: $screen-lg){
				padding-left: 1rem;
			}
			
			a {
				display: block;
				font-size: $font-size-base - 1;
				color: $header-link-color;
				margin-bottom: $font-size-small;
				text-decoration: underline;
				
				@media (min-width: $screen-sm){
					display: inline-block;
					margin-bottom: 0;
					margin-right: 3rem;
				}
				@media (min-width: $screen-md){
					margin-right: 5rem;
					text-decoration: none;
					color: #fff;
				}
				
				
				&:last-child {
					margin: 0;
				}
				.icon {
					color: #c8bab4;
					font-size: 1.2em;
					margin-left: 3px;
					@media (max-width: $screen-md){
						display: none;
					}
				}
			}
		}
		
		&-buttons {
			@include clearfix;
			margin-top: 1.5rem;
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
			
			@media (min-width: $screen-sm){
				padding-left: 4rem;
				margin-top: 0;
			}
			@media (min-width: $screen-md){
				padding-left: $grid-gutter-width / 2;
				
				position: absolute;
				top: auto;
				left: 0;
				justify-content: flex-start;
			}
			
			.header-button {
				float: left;
				width: auto;
				margin-right: 1em;
				color: #fff;
				
				@media (min-width: $screen-sm){
					margin-right: 3rem;
				}
				@media (min-width: $screen-md){
					margin-right: 0;
				}
				
				&:last-of-type {
					margin-right: 0;
				}
				
				&:hover,
				&:active,
				&:focus {
					outline: none;
					text-decoration: none;
					
					.icon-box__icon {
						background: $brown-base;
						
						@media (min-width: $screen-md){
							background: $brown-light;
						}
					}
				}
			}
			
			.icon-box {
				&__icon {
					padding: 7px 8px;
					background: $brown-darker;
					border-radius: 50%;
					@media (min-width: $screen-md){
						padding: 0 3px;
						background: $brown-light;
						.icon {
							fill: $header-top-bg;
							font-size: 1.1em;
							margin-top: 5px;
						}
					}
				}
				&__text {
					padding-left: 0.5rem;
					white-space: nowrap;
					@media (min-width: $screen-md){
						padding-left: 1rem;
					}
				}
			}
		}
		
		&-feedback {
			margin-top: -31px;
			text-align: right;
			
			@media (min-width: $screen-md){
				margin-top: 0;
				margin-left: 1rem;
				flex: 0 0 133px;
				
				.tel {
					position: absolute;
					right: $grid-gutter-width / 2;
					bottom: -6.8rem;
					width: 190px;
					margin-bottom: 0;
					
					font-size: $font-size-large;
					line-height: 1.5;
					color: $gray-base;
					
					.icon {
						padding: 5px;
						background: $brand-primary;
						fill: #fff;
						width: 2.3rem;
						height: 2.3rem;
						margin-right: 0.5rem;
						border-radius: 50%;
						vertical-align: text-bottom;
					}
				}
			}
		}
		
		&-search {
			
			@media (max-width: $screen-md){
				position: absolute;
				width: 100vw;
				top: 45px;
				left: auto;
				right: calc(-1 * (100vw - #{$container-sm}) / 2);
				background: $header-top-bg;
				padding: 0 1em 1em;
				z-index: $zindex-navbar;
				
				transform: scaleY(0);
				transform-origin: top;
				transition: transform .2s;
				
				&.open {
					transform: scaleY(1);
				}
			}
			
			@media (max-width: $screen-sm - 1){
				top: 125px;
				left: calc(-1*(50vw - 50%));
			}
			
			@media (min-width: $screen-md){
				flex: 1 1 auto;
			}
		}
		
	}
	
	
	&__bottom {
		background: $header-bottom-bg;
		margin-bottom: $grid-gutter-width;
		
		.page:not(.page-home) & {
			@media (max-width: $screen-md - 1){
				background: $header-bottom-bg-mobile;
			}
		}
		
		&-logo {
			padding: 2rem 1rem;
			text-align: right;
			
			@media (min-width: $screen-md){
				.logo {
					padding-right: 2rem;
				}
			}
			
			svg {
				width: 170px;
				height: 130px;
			}
		}
	}	
	
}

.header-contacts {
	
	$address-line-height: 25px;
	
	@media (max-width: $screen-md - 1) {
		.page-home & {
			padding-top: $font-size-large;
		}
	}
	
	@media (min-width: $screen-md) {
		padding-top: $font-size-large + 4px;
	}
	
	&__title {
		@include heading;
		font-size: $font-size-base;
		text-transform: uppercase;
		
		@media (min-width: $screen-md) {
			font-size: $font-size-large;
		}
		.page:not(.page-home) & {
			@media (max-width: $screen-md - 1){
				display: none;
			}
		}
	}
	
	.page:not(.page-home) &__info {
		@include flex-default;
	}
	.page-home &__info {
		@media (min-width: $screen-md) {
			@include flex-default;
		}
	}
	
	&__address {
		width: 100%;
		padding: 0.4rem 0 0.6rem;
		line-height: $address-line-height;
		
		.page-home & {
			@media (max-width: $screen-md - 1){
				margin: 0.5em 0;
			}
		}
		
		&-link {
			display: inline-block;
			width: auto;
		}
		
		&-link:hover,
		&-link:active,
		&-link:focus {
			text-decoration: none;
			outline: none;
			
			.arrow-down {
				background: currentColor;
				fill: #fff;
			}
		}
		
		@media (min-width: $screen-md) {
			width: auto;
			margin: 0 $grid-gutter-width 0 0;
		}
		.page:not(.page-home) & {
			@media (min-width: $screen-xs) {
				width: auto;
				flex: 1 0 auto;
				margin-bottom: 0;
				margin-right: $grid-gutter-width;
			}
			@media (max-width: $screen-md - 1) {
				.icon.map {
					display: none;
				}
			}
			@media (min-width: $screen-lg) {
				flex: 0 1 auto;
			}
		}
		
		.page-home & {
			@media (min-width: $screen-md) {
				width: auto;
				flex: 1 0 auto;
			}
		}
		.page & {
			@media (min-width: $screen-lg) {
				flex: 0 1 auto;
			}
		}
		
		address {
			display: inline-block;
			vertical-align: middle;
			margin: 0 0.3rem;
			@include truncate-text;
			
			.page-home & {
				@media (max-width: 399px) {
					max-width: calc(100% - 3.3em);
				}
			}
			
			@media (min-width: $screen-md) {
				max-width: 100%;
			}
			.page:not(.page-home) & {
				@medis (max-width: $screen-md - 1){
					max-width: calc(100% - 2em);
				}
				@media (min-width: $screen-xs) {
					max-width: 100%;
				}
			}
		}
		.arrow-down {
			font-size: $font-size-base + 2;
		}
	}
	
	&__workhours {
		line-height: $address-line-height;
		color: transparentize($brown-darker,0.2);
		min-width: 0;
		
		span {
			margin-right: 0.5rem;
			vertical-align: bottom;
		}
		
		.page:not(.page-home) & {
			@media (max-width: 599px){
				display: none;
			}
			@media (min-width: 600px) {
				flex: 1 1 auto;
				span {
					display: inline-block;
					@include truncate-text;
					max-width: calc(100% - 85px);
				}
			}
			@media (min-width: $screen-md) {
				span {
					max-width: calc(100% - 120px);
				}
			}
		}
		.page-home & {
			@media (min-width: $screen-md) {
				flex: 1 1 auto;
				span {
					display: inline-block;
					@include truncate-text;
					max-width: calc(100% - 120px);
					
				}
			}
		}
	}
	
	.readmore {
		
		@media (min-width: $screen-md) {
			@include btn;
			@include btn-default;
			@include btn-xs;
			
			text-decoration: none;
			margin-left: 0;
			margin-top: ($address-line-height - $btn-xs-height) / 2;
		}
	}
}