.header {
	
	&__top {
		background: $header-top-bg;
		padding: 2rem 0 1rem;
		
		@media (min-width: $screen-sm){
			padding-bottom: 1.5rem;
		}
		@media (min-width: $screen-md){
			padding: 1rem 0;
		}
		
		&-logo svg {
			width: 130px;
			height: 4rem;
			
			@media (min-width: $screen-sm){
				width: 170px;
				height: 5rem;
			}
		}
		.tel {
			font-weight: bold;
			color: $header-link-color;
		}
		&-logo .tel {
			margin-top: 1rem;
		}
		&-feedback .tel {
			margin-bottom: 1em;
		}
		
		&-links {
			padding-top: 2rem;
			
			@media (min-width: $screen-sm){
				padding-top: 0;
				padding-left: 4rem;
				margin-bottom: 1rem;
			}
			
			@media (min-width: $screen-md){
				padding-left: 0;
				margin-bottom: 0;
			}
			
			a {
				display: block;
				font-size: $font-size-base - 1;
				color: $header-link-color;
				margin-bottom: $font-size-small;
				text-decoration: underline;
				
				@media (min-width: $screen-sm){
					display: inline-block;
					margin-bottom: 0;
					margin-right: 3rem;
				}
				@media (min-width: $screen-md){
					margin-right: 5rem;
					text-decoration: none;
					color: #fff;
				}
				
				
				&:last-child {
					margin: 0;
				}
				.icon {
					stroke: currentColor;
					font-size: 1.2em;
					margin-left: 3px;
					@media (max-width: $screen-md){
						display: none;
					}
				}
			}
		}
		
		&-buttons {
			@include clearfix;
			margin-top: 1rem;
			
			@media (min-width: $screen-sm){
				padding-left: 4rem;
			}
			@media (min-width: $screen-md){
				padding-left: 0;
				margin-top: 0;
			}
			
			.header-button {
				float: left;
				width: auto;
				margin-right: 1em;
				color: #fff;
				
				@media (min-width: $screen-sm){
					margin-right: 3rem;
				}
				@media (min-width: $screen-md){
					margin-right: 0;
				}
				
				&:last-of-type {
					margin-right: 0;
				}
				
				&:hover {
					text-decoration: none;
					
					.icon-box__icon {
						background: $brand-primary;
					}
				}
			}
			
			.icon-box {
				&__icon {
					padding: 7px 8px;
					background: $brown-darker;
					border-radius: 50%;
					@media (min-width: $screen-md){
						padding: 0 2px;
						background: $brown-light;
						.icon {
							fill: $header-top-bg;
							font-size: 1.1em;
							margin-top: 5px;
						}
					}
				}
				&__text {
					padding-left: 0.5rem;
					@media (min-width: $screen-md){
						padding-left: 1rem;
					}
				}
			}
		}
		
		&-feedback {
			margin-top: -31px;
			text-align: right;
			
			@media (min-width: $screen-md){
				margin-top: 0;
				
				.tel {
					position: absolute;
					right: 0;
					bottom: -9rem;
					width: 190px;
					
					font-size: $font-size-large;
					line-height: 1.5;
					color: $gray-base;
					
					.icon {
						padding: 5px;
						background: $brand-primary;
						fill: #fff;
						width: 1.5em;
						height: 1.5em;
						margin-right: 0.5rem;
						border-radius: 50%;
					}
				}
			}
		}
		
	}
	
	
	&__bottom {
		background: $header-bottom-bg;
		
		&-logo {
			padding: 2rem 1rem;
			text-align: right;
			
			svg {
				width: 170px;
				height: 130px;
			}
		}
	}	
	
}

.header-contacts {
	
	margin-top: $font-size-large;
	margin-bottom: 1em;
	
	&__title {
		@include heading;
		font-size: $font-size-base;
		margin-bottom: 1em;
		
		@media (min-width: $screen-md) {
			font-size: $font-size-large;
			margin-bottom: 0.4em;
		}
	}
	
	&__address {
		width: 100%;
		margin-bottom: 1em;
		
		&:hover {
			text-decoration: none;
		}
		
		@media (min-width: $screen-md) {
			width: auto;
			margin-bottom: 0;
			margin-right: $grid-gutter-width;
		}
		
		address {
			display: inline-block;
			vertical-align: middle;
			margin: 0 0.3rem;
			@include truncate-text;
			max-width: calc(100% - 3.3em);
		}
		.arrow-down {
			font-size: $font-size-base + 2;
		}
	}
	
	&__workhours {
		line-height: 23px;
	}
	
	.readmore {
		margin-left: 0.3em;
	}
}