@mixin flex-default($align: 'center', $justify: flex-start){
	display: flex;
	flex-flow: row nowrap;
	justify-content: $justify;
	align-items: $align;
}

.sidebar {
	max-width: $sidebar-width;
}

.workarea {
	>*:first-child {
		margin-top: 0;
	}
}

.banners {
	margin-top: 50px;
	&__item {
		border-radius: $border-radius-base;
		margin-bottom: 27px;
		
		img {
			@include img-responsive;
		}
	}
}

@import 'header';
@import 'footer';
@import 'page-aside';