.news {
	&__item {
		margin-bottom: 2em;
		
		@media (max-width: $screen-sm){
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	
	&__item-date {
		font-size: $font-size-small + 1;
		font-weight: bold;
	}
	
	&__item-title {
		font-size: $font-size-large - 1;
		line-height: 1.2;
		color: $brown-lighter;
		margin: 0.5rem 0 0.5em;
		
		a {
			color: currentColor;
			@include hover {
				color: currentColor;
				text-decoration: none;
			}
		}
	}
	
	.readmore  {
		color: $brown-lighter;
		@include hover {
			color: $brown-lighter;
		}
	}
}