.serv-button {
	
	display: block;
	padding: 1em;
	color: #fff;
	text-align: right;
	border-radius: $border-radius-base;
	background: url('images/serv-bg.png') top left no-repeat, linear-gradient(-150deg, #e04e39 0%, #c39167 100%);
	
	@include hover {
		color: #fff;
		text-decoration: none;
		background: url('images/serv-bg.png') top left no-repeat, linear-gradient(-150deg, #e67161 0%, #c39167 100%);
	}
	
	&__wrapper {
		margin-top: 1em;
	}
	
	&__text {
		font-weight: bold;
		line-height: 1;
		
		&.big-text {
			font-size: 25px;
		}
		&.small-text {
			font-size: 18pz;
		}
	}
	
}