@mixin serv-next{
	position: absolute;
	right: 25px;
	top: 50%;
	margin-top: -0.5em;
	color: $brown-dark;
	opacity: 0;
}
@mixin serv-link{
	color: currentColor;
	background: $gray-lighter;
	border-radius: $border-radius-base;
	
	@include hover {
		background: $gray-light;
		color: currentColor;
		text-decoration: none;
		
		.next {
			opacity: 1;
		}
	}
}
.servs {
	margin-bottom: 1.5rem;
	
	&__list {
		@media (min-width: $screen-sm) {
			margin-bottom: 2rem;
		}
	}
	
	&__item {
		font-size: $font-size-base + 1;
		margin-bottom: 1px;
		
		@media (min-width: $screen-xs) {
			font-size: $font-size-base - 1;
			margin-bottom: 0;
		}
	}
	
	&__item-link {
		@include serv-link;
		
		@media (min-width: $screen-xs) {
			padding: 6px 4px;
			background: transparent;
			
			@include hover {
				background: $gray-lighter;
			}
		}
	}
	
	
	&__item-title,
	&__item-icon {
		padding: 7px;
	}
	
	&__item-title {
		padding-left: 3px;
		padding-right: 27px;
		
		@media (min-width: $screen-xs) {
			padding: 0;
		}
	}
	
	&__item-icon,
	&__item-icon.icon-circle {
		
		@media (min-width: $screen-xs) {
			width: ($font-size-large + 6) + 5px * 2 +3px * 2 + 10px;
			padding: 0;
		}
		
		.icon {
			@media (min-width: $screen-xs) {
				font-size: $font-size-large + 6;
			}
		}
	}
	
	.next {
		@include serv-next;
	}
}

.serv-menu {
	
	&__item:first-child &__link {
		border-top: 1px solid #e0cfc5;
	}
	
	&__link {
		@include serv-link;
		padding: 4px;
		position: relative;
		border-bottom: 1px solid #e0cfc5;
		
		@include hover {
			border-color: transparent;
		}
	}
	&__item-title {
		padding-right: 10px;
	}
	&__item-icon,
	&__item-icon.icon-circle {
		
		width: ($font-size-large + 6) + 5px * 2 +3px * 2 + 5px;
		
		.icon {
			font-size: $font-size-large + 6;
		}
	}
	
	.next {
		@include serv-next;
		right: 5px;
	}
}